.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  color: var(--color-white);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  height: 100%;
}

/* Tablet (768px and up) */
@media (min-width: 48rem) {
  .container {
    padding: 2rem;
  }

  .mainContent {
    gap: 2.5rem;
  }
}

/* Desktop (1024px and up) */
@media (min-width: 64rem) {
  .container {
    padding: 2.5rem;
  }

  .mainContent {
    gap: 3rem;
  }
}
